<p id="notice"><%= notice %></p>

<% if not @user.nil? %>
<%= render(@reporters, style: :summary, user: @user) || "No reporters yet." %>

<div class="row">
  <div class="col-xs-12">
    <h4><%= link_to new_user_reporter_path(:user_id => @user.id) do %>
      <i class="glyphicon glyphicon-plus"></i>
      Invite
      <% end %></h4>
  </div>
</div>
<% end %>
