<p id="notice"><%= notice %></p>

<%= render @reporters, style: :summary || "No reporters yet." %>

<div class="row">
  <div class="col-xs-12">
    <h4><%= link_to 'Invite', new_reporter_path %></h4>
  </div>
</div>
