<h1>New Reporter</h1>

<%= render 'form' %>

<div class="row">
  <div class="col-xs-12">
    <h4><%= link_to reporters_path do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
      Back
      <% end %></h4>
  </div>
</div>
