<h2>Invite</h2>

<%= render 'form' %>

<div class="row">
  <div class="col-xs-12">
    <h4><%= link_to user_reporters_path do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
      Back
      <% end %></h4>
  </div>
</div>
