<p id="notice"><%= notice %></p>

<%= render @reporter, style: :full, page_id: @page_id %>

<div class="row">
  <div class="col-xs-12">
    <h4><%= link_to user_reporters_path do %>
      <i class="glyphicon glyphicon-arrow-left"></i>
      Back
      <% end %></h4>
  </div>
</div>
