<%
  event_type = event.type.downcase
  additional_classes = { "reminder" => "bg-warning", "notification" => "bg-danger" }
  %>

<p class="event <%= event_type %><%= " " + additional_classes[event_type] unless additional_classes[event_type].nil? %>">
  [<%= event.created_at.in_time_zone(event.reporter.user.timezone).strftime(Rails.application.config.timestamp_format_string) %>]
  <%= event.type %>
</p>
