<p>
  <%= @greeting %>
  <%= @task.reporter.name %>,
</p>

<p>We noticed you haven't checked in recently! Please
  <%= link_to 'checkin', url_for(:controller => "checkins", :action => "new", :uuid => @task.reporter.uuid) %>
  as soon as possible.
</p>

<p>
  If we don't hear from you before
  <%= @notification_time.strftime(@time_format_string) %>, we'll send out a notification.
</p>

<p>-Tock</p>
