<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center">Hi
      <%= @reporter.name %>
    </h2>

    <%= form_tag "/checkins/" + @reporter.uuid, method: :post do %>
    <p class="text-center">
      <input class="btn btn-primary btn-lg" type="submit" value="Checkin"/>
    </p>
    <%end%>
    <h3 class="text-center">
      <% if @reporter.next_reminder != nil %>
      You'll be reminded to checkin
      <em><%= @reporter.next_reminder.localtime.strftime('%a, %h %d at %r') %></em>
      <% end %>
    </h3>
  </div>
</div>
